body
{
    background-color: rgb(26, 25, 25);
    margin: 0;  
}

html
{
    font-size: 20px;
}

:root
{
    --main-header-color1:#e0ec4c;
    --main-header-color2:#08bcd4;
    --content-background-color:white;
}
